.logo {
	cursor: default;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;

	&::after {
		content: '>';
	}
}

#site-nav .logo {
	margin-left: 15px;

	&::before {
		content: '<';
	}

	@media screen and (min-width: $screen-lg) {
		margin-left: 30px;
	}
}

footer .logo::before {
	content: '</';
}
