#work {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;

	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 50px;
	}

	.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
				flex-wrap: wrap;
		width: 100%;
	}

	.project {
		background-position: center;
		background-repeat: no-repeat;
		height: 300px;
		width: 100%;

		@media screen and (min-width: $screen-md-min) {
			width: calc(50% - 7.5px);
		}
	}

	.overlay {
		background-color: transparent;
		display: block;
		height: 100%;
		text-decoration: none;
		-webkit-transition: background-color 200ms ease-in;
		transition: background-color 200ms ease-in;
		width: 100%;

		&:hover .title,
		&:hover .description,
		&:focus .title,
		&:focus .description {
			opacity: 1;
			-webkit-transform: translateY(0);
							transform: translateY(0);
		}
	}

	.title,
	.description {
		color: #fff;
		opacity: 0;
		-webkit-transform: translateY(-30px);
						transform: translateY(-30px);
		-webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
		transition: opacity 200ms ease, -webkit-transform 200ms ease;
		transition: opacity 200ms ease, transform 200ms ease;
		transition: opacity 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
	}

	.overlay-inner {
		padding: 30px;
	}
} // #work



#project1 {
	background-image: url('../img/project1.jpg');

	.title,
	.description {
		color: #000;
	}

	.overlay:hover,
	.overlay:focus {
		background-color: rgba(243, 146, 49, .99); /* #f39231 */
	}
}

#project2 {
	background-image: url('../img/project2.jpg');

	.overlay:hover,
	.overlay:focus {
		background-color: rgba(47, 89, 126, .95); /* #2f597e */
	}
}

#project3 {
	background-image: url('../img/project3.jpg');

	.overlay:hover,
	.overlay:focus {
		background-color: rgba(31, 69, 34, .95); /* #1f4522 */
	}
}

#project4 {
	background-image: url('../img/project4.jpg');
	background-position: left !important;

	.overlay:hover,
	.overlay:focus {
		background-color: rgba(191, 55, 36, .95); /* #bf3724 */
	}

}

@media screen and (min-width: $screen-md-min) {
	#project1,
	#project3 {
		margin-right: 15px;
	}

	#project3,
	#project4 {
		margin-top: 15px;
	}
}

@media screen and (min-width: $screen-lg) {
	#work .project.w-67 {
		width: calc(67% - 7.5px);
	}

	#work .project.w-33 {
		width: calc(33% - 7.5px);
	}
}
